html, body {
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 3rem;
}

h1 {
  font-size: xx-large;
}